
.cartPage-image{
    background-color: white;
    justify-content: center;
    padding: 10px;
}


.cartPage-price-details{
    background-color: white;
    border-left: solid 1px gainsboro;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.cartPage-product-desc{
    text-align: left;
}

.cartPage-fab-button-circle{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.cartPage-add-remove-fab-button{
    max-width: 25%;
}

.cart-checkout-page-main-component{
    margin-top: 80px;
    justify-content: center;
}

.cart-checout-adderss-component{
    display: grid;
    grid-template-columns: 20% 30%;
    justify-content: center;
    margin: 10px;
}

.cart-checkout-cofirm-button{
    background-color: #1976d2;
    border: 0;
    width:fit-content;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}



.cart-checkout-adderss-text-area{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}


@media screen and (min-width: 300px) {
    .cartPage-product-list{
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 10px;
    }
    
    .cartPage-image img{
        height: 200px;
        width: -webkit-fill-available;
    }
    .cartPage-product-details{
        display: none;
    }

    .cartPage-fab-button-title{
        margin-top: 0;
    }
    .cart-page-checkout-component{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 5px;
        margin-right: 0px;
    }

    .cart-page-total-cart-price-component{
        display: flex;
        background-color: white;
        margin-right: 5px;
        padding: 5px;
    }

    .cart-page-checkout-final-button{
        background-color: #1976d2;
        border: 0;
        width:fit-content;
        color: white;
        border-radius: 5px;
        padding: 10px;
        padding-right: 20px;
        cursor: pointer;
    }

    .cart-checkout-message-component{
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .cart-checkout-page-main-component{
        margin-top: 80px;
    }

    .cart-checout-adderss-component{
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 10px;

    }
}

@media screen and (min-width: 790px) {
    .cartPage-product-list{
        display: grid;
        grid-template-columns: 20% 50% 30%;
        margin: 10px;
    }
    .cartPage-image img{
        height: 200px;
        width: -webkit-fill-available;
    }
    .cartPage-product-details{
        display:flex;
        flex-direction: column;
        background-color: white;
        border-left: solid 1px gainsboro;
        padding: 10px;
    }
    .cartPage-fab-button-title{
        display: none;
    }
    .cart-page-checkout-component{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 5px;
        margin-right: 0px;
    }

    .cart-page-total-cart-price-component{
        display: flex;
        background-color: white;
        margin-right: 5px;
    }

    .cart-page-checkout-final-button{
        background-color: #1976d2;
        border: 0;
        width:fit-content;
        color: white;
        border-radius: 5px;
        padding: 10px;
        padding-right: 20px;
        cursor: pointer;
    }

    .cart-checkout-message-component{
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .cart-checout-adderss-component{
        display: grid;
        grid-template-columns: 20% 30%;
        justify-content: center;
        margin: 10px;
    }
}


@media screen and (min-width: 1024px) {
    .cartPage-product-list{
        display: grid;
        grid-template-columns: 20% 50% 30%;
        margin: 10px;
    }
    .cartPage-image img{
        height: 200px;
        /* object-fit: cover; */
    }
    .cartPage-product-details{
        background-color: white;
        border-left: solid 1px gainsboro;
        padding: 10px;
    }
    .cart-page-checkout-component{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 5px;
        margin-right: 0px;
    }

    .cart-page-total-cart-price-component{
        display: flex;
        background-color: white;
        margin-right: 5px;
    }

    .cart-page-checkout-final-button{
        background-color: #1976d2;
        border: 0;
        width:fit-content;
        color: white;
        border-radius: 5px;
        padding: 10px;
        padding-right: 20px;
        cursor: pointer;
    }

    .cart-checkout-message-component{
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        margin-left: 20%;
        margin-right: 20%;
    }
    .cart-checout-adderss-component{
        display: grid;
        grid-template-columns: 20% 30%;
        justify-content: center;
        margin: 10px;
    }
}


