* {
    box-sizing: border-box;
  }

.mainpage-main-component{
    margin-top: 10px;
}

.mainpage-photos{
    width: 100%;
    height: 450px;
}

.product-drawer-fab-button-circle{
    max-width: 25%;
}


.product-draw-left-right{
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-rows: auto auto;
    padding: 10px;
}

@media screen and (min-width: 300px) {
    .mainpage-products-component{
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
    .product-drawer-fab-button{
        display: flex;
        justify-content: space-between;
    }  
    .product-drawer-cart-button{
        margin-bottom: 0px;
        /* justify-content: center;
        display: grid; */
    }
    
}

@media screen and (min-width: 600px) {
    .product-drawer-fab-button{
        display: flex;
        justify-content: space-between;
    }  
    .product-drawer-cart-button{
        margin-top: 15px;
        justify-content: center;
        display: grid;
    }
    .product-draw-left-right{
        display: grid;
        grid-template-columns: auto auto;
        padding: 10px;
    }
    .product-drawer-fab-button-circle{
        min-width: 25%;
        max-width: 100%;
    }
    
}


@media screen and (min-width: 767px) {
    .mainpage-products-component{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
    .product-drawer-fab-button{
        display: flex;
        justify-content: space-between;
    }  
    .product-drawer-cart-button{
        margin-top: 0px;
        justify-content: center;
        display: block;
    }
    .bottom-navbar-component{
        display: none;
    }
    
}

@media screen and (min-width: 1024px) {
    .mainpage-products-component{
        display: grid;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
    }
    .bottom-navbar-component{
        display: none;
    }
    
 
}

.mainpage-card-component{
    margin: 5px;
}

.mainpage-card-component:hover{
    transform: translateY(-10px);
    transition: transform 50ms;
    opacity: 0.8;
}


.product-drawer-more-items{
    color: #1976d2;
    opacity: 0.7;
}

.product-drawer-more-items:hover{
    opacity: 1;
}

